<div id="notlogin">
 <h1>預金通帳リスト</h1>

  <div>Googleアカウントでログイン
    <div>
      <button id="gmaillogin">ログイン</button>
    </div>
  </div>
  <div>Eメールアドレスでログイン
    <div>
      <input id="email" placeholder="Eメールアドレスを入力">
      <input id="password" type="password" placeholder="パスワードを入力">
    </div>
    <div>
      <button id="maillogin">ログイン</button>
    </div>
  </div>
</div>


<div id="donelogin">
  <aside>
    <div id="chat">
    </div>
  </aside>

  <div>
    <textarea id="content" placeholder="コメントの入力"></textarea>
    <button id="post">送信</button>
  </div>
  <p>
    <button id="signout">サインアウト</button>
  </p>
</div>